.container {
    width: 90vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 5%;
    position: fixed;
}

.imgContainer {
    width: 100%;
    height: 55vw;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.imgContainer > img {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 15px;
    object-fit: cover;
}

.profileContainer {
    bottom: 16%;
    left: 5%;
}

.questionContainer {
    top: 35%;
    padding: 3%;
}