.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 11px;
}

.question {
    display: flex;
    column-gap: 5px;
    align-items: center;
}
.question > p:nth-child(1) {
    font-family: var(--pretendard-font);
    font-weight: var(--SemiBold);
    font-size: 22px;
    color: var(--sub-color);
}
.question > p:nth-child(2) {
    font-family: var(--pretendard-font);
    font-weight: var(--SemiBold);
    font-size: 18px;
    color: var(--font-1);
}

.tagAndicon {
    display: flex;
    column-gap: 2px;
    justify-content: space-between;
    align-items: center;
}

.icons {
    display: flex;
    column-gap: 10px;
}
.iconDiv {
    display: flex;
    column-gap: 4px;
    align-items: center;
    font-size: 20px;
}
.iconDiv > p {
    font-family: var(--pretendard-font);
    font-weight: var(--Regular);
    font-size: 15px;
}