.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 11px;
}

.info {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.question {
    display: flex;
    column-gap: 5px;
    align-items: center;
}
.question > p:nth-child(1) {
    font-weight: var(--SemiBold);
    font-size: 22px;
    color: var(--sub-color);
}

.content {
    font-weight: var(--Regular);
    font-size: 14px;
    color: var(--font-4);
}

.tagAndicon {
    display: flex;
    column-gap: 2px;
    justify-content: space-between;
    align-items: center;
}

.icons {
    display: flex;
    column-gap: 10px;
}