.tags {
    display: flex;
    border: 2px solid var(--sub-color);
    padding: 3px 5px;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
}

.tagDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tagDiv > p {
    font-family: var(--noto-sans-kr);
    font-weight: var(--Regular);
    font-size: 14px;
    color: var(--sub-color);
}