.btnStyle{
    display: flex;
    position: fixed;
    bottom: 40px;
    width: 90%;
    height: 51px;
    background-color: var(--main-color);
    color: white;
    border-radius: 15px;
    font-weight: var(--SemiBold);
    justify-content: center;
    align-items: center;
}