.container {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40%;
}

.item-grid-container {
    display: grid;
    margin-top: 3%;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
    column-gap: 10px;
    row-gap: 5px;
    right: 1%;
}