.container {
    width: 44vw;
    height: 210px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-top: 3%;
    background-color: white;
    box-shadow: 0px 0px 20px var(--gray-2);
}

.imgDiv {
    height: 90px;
}
.imgDiv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 3% 6%;
    row-gap: 10px;
}
.info > hr {
    border-color: var(--gray-2);
    border-style: solid;
}

.topDiv {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.hotTop {
    display: flex;
    justify-content: space-between;
    font-weight: var(--Regular);
}
.hotTop > p:nth-child(1) {
    color: var(--sub-color);
    font-size: 0.8rem;
}
.hotTop > p:nth-child(2) {
    color: #C9C8C8;
    font-size: 0.8rem;
}

.top {
    display: flex;
    justify-content: flex-end;
    font-weight: var(--Regular);
}
.top > p {
    color: #C9C8C8;
    font-size: 0.8rem;
}

.middle {
    width: 100%;
}
.middle > .title {
    width: 100%;
    font-weight: var(--SemiBold);
}
.middle > .title > p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.bottom > p {
    font-weight: var(--Regular);
    font-size: 0.8rem;
    color: #C9C8C8;
}
.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
    border: 1px solid var(--sub-color);
    border-radius: 5px;
}
.tag > p {
    font-weight: var(--Medium);
    font-size: 0.7rem;
    color: var(--sub-color);
}

.iconDiv {
    display: flex;
    column-gap: 10px;
    justify-content: flex-end;
    align-items: center;
    font-weight: var(--Regular);
    font-size: 0.8rem;
}
.heart,
.comment {
    display: flex;
    column-gap: 2px;
    justify-content: center;
    align-items: center;
}