.container {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: 5%;
    z-index: 999;
    background-color: transparent;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    width: 70px;
    height: 70px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: var(--sub-color);

    border: 0;
    border-radius: 50%;
}

.button > .icon {
    font-size: 2rem;
    color: white;
}