.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    font-size: 25px;
    background-color: white;
}

.container > div {
    display: flex;
    column-gap: 4px;
}

.container > div > p {
    font-family: var(--pretendard-font);
    font-weight: var(--SemiBold);
    font-size: 18px;
}
.container > div > p:nth-child(2) {
    color: var(--strong-color);
}