/* Pretendard 폰트 */
@import url('https://cdn.jsdelivr.net/npm/pretendard@1.3.9/dist/web/static/pretendard.min.css');

/* Noto sans KR 폰트 */
@import url('https://cdn.jsdelivr.net/npm/@fontsource/noto-sans-kr@5.0.19/index.min.css');

/* SF Pro 폰트 */
@import url('https://cdn.jsdelivr.net/npm/sf-font@1.0.0/stylesheet.min.css');

/* Modak 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

:root {
    --main-color: #222222;
    --sub-color: #FF6524;
    --strong-color: #0066FF;

    --gray-1: #F3F3F3;
    --gray-2: #EAEBEF;
    --gray-3: #C0C6CD;
    --gray-4: #5A5A5A;

    --font-1: #292929;
    --font-2: #414141;
    --font-3: #595959;
    --font-4: #7F7F7F;
    --font-5 : #C9C9C9;
    --font-6 : #8D8D8D;
    --font-7 : #D2D9E0;
    --font-8 : #C9C8C8;

    --pretendard-font: 'Pretendard';
    --noto-sans-kr: 'Noto Sans KR';
    --SF-Pro: 'SF Pro Display';
    --Modak: "Modak";
    
    --Regular: 400;
    --Medium: 500;
    --SemiBold: 600;
    --Bold: 700;
}

* {
    position: relative;
    margin: 0;
    font-family: 'Pretendard';
}

Link {
    text-decoration: none;
}