input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::placeholder {
    color: var(--gray-3);
}

/* 모든 div */
.mainContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}
.mainContainer::-webkit-scrollbar {
    display: none;
}

/* 헤더, 푸터를 제외한 전체 Container */
.joinContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 5%;
}

/* 회원가입 폼 container */
.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2%;

    font-family: var(--pretendard-font);
    font-weight: var(--Medium);
}
.formContainer > button {
    width: 89vw;
    padding: 5%;
    border: 0;
    border-radius: 10px;
    background-color: var(--main-color);
    margin-bottom: 10%;

    font-family: var(--pretendard-font);
    font-weight: var(--Medium);
    color: white;
}

/* 아이디, 비밀번호, 생년월일 div */
.idDiv,
.pwDiv,
.birthDiv,
.phoneDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 10px;
    margin-bottom: 10%;
}

/* 성, 이름, 아이디, 비밀번호, 이메일, 생년월일 p태그 */
.lastName > p,
.firstName > p,
.idDiv > p,
.pwDiv > p,
.emailDiv > p,
.birthDiv > p,
.radioGroup > p,
.phoneDiv > p {
    color: var(--font-3);
    font-size: 0.9rem;
    font-family: var(--pretendard-font);
    font-weight: var(--Medium);
}

/* 성, 이름 입력 div */
.nameDiv {
    display: flex;
    column-gap: 50px;
    margin-bottom: 10%;
}

/* 성 */
.lastName {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.lastName > input {
    width: 15vw;
    padding: 22%;
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--gray-2); 
    outline: none;

    font-family: var(--pretendard-font);
    font-weight: var(--Medium);
}

/* 이름 */
.firstName {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.firstName > input {
    width: 24vw;
    padding: 13%;
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--gray-2); 
    outline: none;

    font-family: var(--pretendard-font);
    font-weight: var(--Medium);
}


/* 생년월일, 연락처 */
.birthInput,
.phoneInput {
    display: flex;
    flex-direction: column;
}
.birthInput > input,
.phoneInput > input {
    width: 80vw;
    padding: 4%;
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--gray-2);
    outline: none;

    font-family: var(--pretendard-font);
    font-weight: var(--Medium);
}

/* 라디오 버튼 */
.radioGroup {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 10%;
}
.radioDiv {
    display: flex;
    column-gap: 30px;
}
.radioButton {
    display: flex;
    column-gap: 5px;
}
input[type='radio']:checked {
    width: 1.4em;
    height: 1.4em;
}
input[type='radio'] {
    width: 1.4em;
    height: 1.4em;
}
.label {
    font-family: var(--pretendard-font);
    font-weight: var(--Medium);
    color: var(--gray-3);
}

/* 학과 */
.majorDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 10%;
}
.majorInput {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    padding: 2%;
    border: 1px solid var(--gray-3);
    border-radius: 5px;

    font-family: var(--pretendard-font);
    font-weight: var(--Medium);
    font-size: 0.8rem;
}
.borderDefault {
    border-color: var(--gray-3);
    color: var(--gray-3);   
}
.borderClicked {
    border-color: var(--strong-color);
    color: var(--strong-color);
}

/* 아이디 */
.idInput {
    width: 100%;
    display: flex;
    column-gap: 15px;
    align-items: center;
    justify-content: center;
}
.idInput > input {
    width: 55vw;
    padding: 4%;
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--gray-2); 
    outline: none;
}

/* 아이디 중복버튼 */
.IdButtonDefault {
    width: 30vw;
    padding: 4%;
    border-radius: 7px;
    border: 0;
    background-color: var(--gray-2);

    font-family: var(--pretendard-font);
    font-weight: var(--Medium);
    color: var(--font-5);
}
.IdButtonClicked {
    width: 30vw;
    padding: 4%;
    border-radius: 7px;
    border: 0;
    background-color: var(--main-color);

    font-family: var(--pretendard-font);
    font-weight: var(--Medium);
    color: white;
}

/* 비밀번호 */
.pwInput {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.pwInput > input {
    width: 80vw;
    padding: 4%;
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--gray-2);
    outline: none;

    font-family: var(--pretendard-font);
    font-weight: var(--Medium);
}

/* 이메일 */
.emailDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 10px;
    margin-bottom: 15%;
}
.emailInput {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.emailInput > input {
    width: 80vw;
    padding: 4%;
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--gray-2);
    outline: none;

    font-family: var(--pretendard-font);
    font-weight: var(--Medium);
}

/* 구글 메일 입력란 */
.googleInput {
    display: flex;
    column-gap: 15px;
}
.googleInput > input {
    width: 48vw;
    padding: 4%;
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--gray-2); 
    outline: none;

    font-family: var(--pretendard-font);
    font-weight: var(--Medium);
}
.googleInput > button {
    width: 35vw;
    padding: 4%;
    border-radius: 7px;
    border: 0;
    background-color: var(--main-color);

    font-family: var(--pretendard-font);
    font-weight: var(--Medium);
    color: white;
}