.container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    column-gap: 25px;
}

.container > p {
    font-family: var(--pretendard-font);
    font-weight: var(--Regular);
    font-size: 12px;
    color: var(--gray-3);
}

.my-chat {
    width: max-content;
    max-width: 60%;
    position: relative;
    background-color: var(--gray-1);
    border-radius: 10px;
    padding: 16px;
    word-break: break-all;
    right: 5%;

    font-family: var(--pretendard-font);
    font-weight: var(--Regular);
    font-size: 14px;
    color: var(--font-2);
}