.container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}

.button {
    width: 93vw;
    display: flex;
    flex-direction: column;
    cursor: default;
    justify-content: flex-end;
    top: 90%;
    position: fixed;
}
.button > button {
    width: 100%;
    padding: 4.5%;
    color: white;
    cursor: pointer;
    background-color: var(--main-color);
    border: 0;
    border-radius: 15px;
    font-weight: var(--SemiBold);
}