.background {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-color);
    align-items: center;
    justify-content: center;
}

.imgDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}