.advice {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    font-weight: var(--Medium);
}

.title {
    width: 86%;
    display: flex;
    justify-content: flex-start;

    color: var(--sub-color);
    font-size: 0.9rem;
}

.adviceContainer {
    width: 86%;
    display: flex;
    align-items: center;
}

.adviceSelect {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 5px;
}

.border {
    display: flex;
    justify-content: center;
    padding: 2% 3%;
    border: 1px solid var(--gray-3);
    width: auto;
    border-radius: 100px;
    margin-bottom: 10px;
    font-weight: var(--Medium);
    color: black;
}
.borderDefault {
    border-color: var(--gray-3);   
}
.borderClicked {
    border-color: var(--sub-color);
    background-color: rgba(255, 101, 36, 0.2);
}

.border > p {
    font-size: 12px;
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button > button {
    border: 0;
    background-color: var(--sub-color);
    padding: 2.5% 6%;
    border-radius: 100px;
    font-weight: var(--Medium);
    font-size: 16px;
    color: white;
}