.advice {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;

    font-family: var(--pretendard-font);
    font-weight: var(--Medium);
}

.title {
    width: 86%;
    display: flex;
    justify-content: flex-start;

    color: var(--sub-color);
    font-size: 0.9rem;
}

.adviceContainer {
    width: 86%;
    display: flex;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
}

.addPlus {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}
.plusIcon {
    color: var(--sub-color);
    font-size: 1.1rem;
    font-weight: 100;
}
.addPlus > p,
.advicePlus > p {
    font-family: var(--pretendard-font);
    font-weight: var(--Regular);
}

.advicePlus {
    width: 86%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 5px;
    margin-left: 1.5%;
}

.adviceAdd {
    display: flex;
    width: auto;
    height: 4vh;
}
.adviceAdd > input {
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
    background-color: var(--gray-1);
    border-radius: 30px;
    text-align: center;
    font-size: 1.1rem;
}