/* 이름/학번, 생년월일, 전화번호 div */
.nameDiv {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 5px;
    left: 6vw;
}
.birthDiv,
.phoneDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

/* 이름/학번 */
.name,
.studentId {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
    justify-content: center;
}
.name > input {
    width: 30vw;
    padding: 8%;
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--gray-2); 
    outline: none;
    font-weight: var(--Medium);
}
.studentId > input {
    width: 24vw;
    padding: 8%;
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--gray-2); 
    outline: none;
    font-weight: var(--Medium);
}

.nameTitle {
    width: 75%;
    display: flex;
    justify-content: flex-start;

    color: #595959;
    font-weight: var(--Medium);
    font-size: 14px;
}
.studentIdTitle {
    width: 63%;
    display: flex;
    justify-content: flex-start;

    color: #595959;
    font-weight: var(--Medium);
    font-size: 14px;
}

/* 생년월일, 연락처 */
.birthInput,
.phoneInput {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.birthInput > input,
.phoneInput > input {
    width: 80vw;
    padding: 4%;
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--gray-2);
    outline: none;
    font-weight: var(--Medium);
}

/* 라디오 버튼 */
.radioGroup {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}
.radioDiv {
    width: 86%;
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: flex-start;

}
.radioButton {
    display: flex;
    column-gap: 5px;
}
input[type='radio']:checked {
    width: 1.4em;
    height: 1.4em;
}
input[type='radio'] {
    width: 1.4em;
    height: 1.4em;
}
.label {
    font-weight: var(--Medium);
    color: var(--gray-3);
}
.selectedLabel {
    font-weight: var(--Medium);
    color: #7E7E7E;
}

/* 학과 */
.majorDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}
.majorInput {
    width: 86%;
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: flex-start;
}
.border {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 3%;
    border: 1px solid var(--gray-3);
    border-radius: 5px;
    font-weight: var(--Medium);
    font-size: 12px;
}
.borderDefault {
    border-color: var(--gray-3);
    color: var(--gray-3);   
}
.borderClicked {
    border-color: var(--strong-color);
    color: var(--strong-color);
}

.mbti,
.tag {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
.mbtiTitle {
    width: 86%;
    display: flex;
    justify-content: flex-start;

    color: var(--sub-color);
    font-weight: var(--Medium);
    font-size: 14px;
}

.title {
    width: 86%;
    display: flex;
    justify-content: flex-start;

    color: #595959;
    font-weight: var(--Medium);
    font-size: 14px;
}

.mbti > input,
.tag > input {
    width: 80vw;
    padding: 3%;
    border-style: solid;
    border-radius: 5px;
    border-color: var(--gray-2);
    outline: none;
    font-weight: var(--Medium);
}
.mbti > input::placeholder {
    font-weight: var(--Medium);
    font-size: 14px;
    color: var(--gray-3);
}