.allContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    overflow-x: hidden;
}
.allContainer::-webkit-scrollbar {
    display: none;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    margin-bottom: 5%;
}

.imgDiv {
    display: flex;
    width: 110px;
    height: 110px;
    border-radius: 35%;
    background-color: var(--gray-2);

    justify-content: center;
    align-items: center;
}

.inputStdentId {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--Bold);
    font-size: 1.5rem;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}
.button > button {
    width: 90%;
    height: 6vh;
    background-color: var(--main-color);
    color: white;
    border: 0;
    border-radius: 15px;
    font-weight: var(--Medium);
    font-size: 16px;
}