.mbti,
.tag {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;

    font-family: var(--pretendard-font);
    font-weight: var(--Medium);
}
.title {
    width: 86%;
    display: flex;
    justify-content: flex-start;

    color: var(--sub-color);
    font-size: 0.9rem;
}

.mbti > input,
.tag > input {
    width: 80%;
    padding: 3%;
    padding-left: 4%;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: var(--gray-2);
    outline: none;
}
.mbti > input::placeholder,
.tag > input::placeholder {
    font-family: var(--pretendard-font);
    font-weight: var(--Medium);
}